@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  width: 100vw;
  overflow-x: hidden;
}

#container1 {
  height: 724px;
  width: 100vw;
  position: relative;
  color: white;
  .bg {
    z-index: -2;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -2;
  }
  .layer {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    padding: 47px 50px;
    .footer {
      align-items: center;
      justify-content: space-between;
      display: flex;
      h1 {
        font-weight: bold;
        font-size: 40px;
      }
      @media screen and (max-width: 1050px) {
        ul {
          display: none !important;
        }
      }
      ul {
        width: 700px;
        justify-content: space-between;
        list-style: none;
        display: flex;
        li {
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      .say {
        color: #fdc221;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 21px;
        font-weight: 500;
        cursor: pointer;
      }
    }
    .content {
      max-width: 700px;
      width: 100%;
      margin-top: 5rem;
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      span {
        color: #fdc221;
      }
      p {
        color: #e1e1e1;
        font-size: 20px;
      }
      .row {
        margin-top: 2rem;
        justify-content: space-between;
        display: flex;
        width: 400px;
        ul {
          list-style: none;
        }
        li {
          cursor: pointer;
          display: flex;
          height: 30px;
          align-items: center;
          img {
            margin-top: 0.1rem;
            width: 15px;
            height: 10px;
            position: relative;
            margin-right: 1rem;
          }
          margin: 0.5rem 0px;
          font-size: 14px;
        }
      }
      button {
        &:active {
          transform: scale(0.95);
        }
        cursor: pointer;
        border-radius: 70px;
        margin-top: 7%;
        padding: 20px 85px;
        font-size: 21px;
        font-weight: 500;
        color: white;
        background: linear-gradient(#f79e0e, #eebd23);
      }
    }
  }
  .rocket {
    z-index: -1;
    max-width: 610px;
    width: 100%;
    max-height: 541px;
    height: 100%;
    position: absolute;
    right: 2rem;
    bottom: 0px;
  }
}
#container2 {
  height: 724px !important;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: center;
  .bg {
    width: 100vw;
    position: absolute;
    z-index: -1;
    height: 724px;
    top: 0px;
    left: 0px;
  }
  .layer {
    img {
      &:active {
        transform: scale(0.95);
      }
      position: relative;
      max-width: 605px;
      width: 100%;
      object-fit: cover;
      max-height: 466px;
      height: 100%;
    }

    margin-top: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    max-width: 1300px;
    .side-bar {
      margin-left: 1rem;
      margin-top: 4rem;
      height: 500px;
      width: 450px;
      span {
        background: linear-gradient(#f79e0e, #eebd23);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .about {
        font-weight: 700;
        font-size: 15px;
        background: linear-gradient(#f79e0e, #eebd23);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h1 {
        color: #404041;
        margin-top: 1rem;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 12px;
      }
      h3 {
        width: 360px;
        color: #979797;
        font-weight: 400;
        font-size: 15px;
      }
      .row {
        margin-top: 2rem;
        justify-content: space-between;
        display: flex;
        width: 400px;
        ul {
          list-style: none;
        }
        li {
          color: #262626 !important;
          font-weight: 600;
          cursor: pointer;
          display: flex;
          height: 30px;
          align-items: center;
          background-clip: border-box;
          img {
            margin-top: 0.1rem;
            width: 15px;
            height: 10px;
            position: relative;
            margin-right: 1rem;
          }
          margin: 0.5rem 0px;
          font-size: 14px;
        }
      }
      button {
        margin-top: 2rem;
        &:active {
          transform: scale(0.95);
        }
        cursor: pointer;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 15px 35px;
        border-radius: 4px;
        background: linear-gradient(#f79e0e, #eebd23);
      }
    }
  }
}
#container3 {
  position: relative;
  height: 930px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  .packages {
    width: 915px;
    height: 791px;
    text-align: center;
    .title {
      text-transform: uppercase;
      background: linear-gradient(#f79e0e, #eebd23);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 15px;
      margin-bottom: 1rem;
    }
    span {
      background: linear-gradient(#f79e0e, #eebd23);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h1 {
      text-transform: capitalize;
      color: #262626;
      margin-bottom: 70px;
    }
    .cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .card {
        &:active {
          transform: scale(0.97);
        }
        button {
          position: absolute;
          bottom: 34px;
          padding: 10px 44px;
          border-radius: 154px;
          border: 1px solid #f79e0e;
          background-color: transparent;
          background: linear-gradient(#f79e0e, #eebd23);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 18px;
          cursor: pointer;
          &:active {
            transform: scale(0.95);
          }
        }
        position: relative;
        cursor: pointer;
        padding: 0px 13px;
        background-color: #fcfaed;
        width: 285px;
        height: 603px;
        border-radius: 21px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.25);
        .divide {
          margin-top: 2px;
          border-radius: 0px 0px 6px 6px;
          background-color: #294199;
          width: 204px;
          height: 6px;
          margin-bottom: 44px;
        }
        h1 {
          color: #294199;
          font-family: "Pacifico", cursive;
          font-weight: 400;
          margin-bottom: 10px;
          font-size: 30px;
        }
        h6 {
          position: absolute;
          top: 15px;
          background: linear-gradient(#f79e0e, #eebd23);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 700;
          font-size: 15px;
          margin-bottom: 0.5rem;
        }
        .price {
          display: flex;
          .dollar {
            font-size: 28px;
            font-weight: 700;
          }
          .number {
            font-weight: 800;
            font-size: 40px;
          }
        }
        h3 {
          color: #9d9d9d;
          font-size: 17px;
          font-weight: 400;
          margin-top: 1rem;
        }
        ul {
          margin-top: 1rem;
          width: 100%;
          li {
            margin: 13px 0px;
            justify-content: start;
            display: flex;
            align-items: center;
            img {
              margin-right: 1rem;
              width: 15px;
              height: 10px;
            }
            p {
              font-weight: 400;
              color: #6a6a6a;
              font-size: 14px;
            }
          }
        }
      }
      .card2 {
        &:active {
          transform: scale(0.97);
        }
        position: relative;
        button {
          box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: 0.25);
          position: absolute;
          bottom: 34px;
          padding: 10px 44px;
          border-radius: 154px;
          background: linear-gradient(#f79e0e, #eebd23);
          border: none;
          color: white;
          font-size: 18px;
          cursor: pointer;
          &:active {
            transform: scale(0.95);
          }
        }
        cursor: pointer;
        color: white;
        padding: 0px 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 305px;
        height: 645px;
        border-radius: 21px;
        background-color: #294199;
        box-shadow: 0px 4px 4px 0px #6a6a6a;
        .divide {
          margin-top: 1px;
          border-radius: 0px 0px 6px 6px;
          background: linear-gradient(#f79e0e, #eebd23);
          width: 204px;
          height: 6px;
          margin-bottom: 14px;
        }
        h6 {
          font-weight: 700;
          font-size: 15px;
          margin-bottom: 0.5rem;
        }
        h1 {
          font-size: 35px !important;
          font-family: "Pacifico", cursive;
          font-weight: 400;
          margin-bottom: 10px;
          background: linear-gradient(#f79e0e, #eebd23);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .price {
          background: linear-gradient(#f79e0e, #eebd23);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: flex;
          .dollar {
            font-size: 28px;
            font-weight: 700;
          }
          .number {
            font-weight: 800;
            font-size: 40px;
          }
        }
        h3 {
          color: white;
          font-size: 17px;
          font-weight: 400;
          margin-top: 1rem;
        }
        ul {
          margin-top: 1rem;
          width: 100%;
          li {
            margin: 1rem 0px;
            justify-content: start;
            display: flex;
            align-items: center;
            img {
              margin-right: 1rem;
              width: 15px;
              height: 10px;
            }
            p {
              font-weight: 400;
              color: white;
              font-size: 14px;
            }
          }
        }
      }
      .x li {
        margin: 10px 0px !important;
      }
    }
  }
}
#container4 {
  display: flex;
  height: 679px;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  position: relative;
  .bg {
    width: 100vw;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
  }
  .content {
    margin-top: 70px;
    width: 100%;
    max-width: 1300px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    .left-side {
      width: 400px;
      .sm {
        text-transform: uppercase;
        background: linear-gradient(#f79e0e, #eebd23);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      span {
        background: linear-gradient(#f79e0e, #eebd23);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h1 {
        text-transform: capitalize;
        color: #404041;
        font-size: 30px;
        font-weight: 800;
      }
      p {
        margin: 1rem 0px 1rem;
        color: #979797;
        font-size: 15px;
      }
      .price {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        .number {
          margin-right: 1rem;
          font-size: 33px;
          font-weight: 500;
          background: linear-gradient(#f79e0e, #eebd23);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .discount {
          text-decoration: line-through;
          font-size: 14px;
          color: #707070;
        }
      }
      ul {
        li {
          display: flex;
          font-size: 15px;
          margin: -5px 0px;
          img {
            margin-right: 1rem;
          }
        }
        button {
          &:active {
            transform: scale(0.95);
          }
          cursor: pointer;
          padding: 8px 44px;
          border-radius: 4px;
          border: none;
          color: white;
          font-weight: 500;
          font-size: 15px;
          margin: 0.7rem 0px;
          background: linear-gradient(#f79e0e, #eebd23);
        }
      }
    }
    .right-side-ad-image {
      width: 612px;
      margin-top: 1rem;
      height: 367.92px;
      object-fit: cover;
      &:active {
        transform: scale(0.97);
      }
    }
  }
}
#container5 {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  .content {
    margin-top: 30px;
    height: 321px;
    width: 1068px;
    margin-bottom: 80px;
    h6 {
      font-size: 15px;
      font-weight: bold;
      background: linear-gradient(#f79e0e, #eebd23);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h1 {
      margin: 11px 0px 14px;
      color: #0b132a;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      color: #979797;
      margin-bottom: 40px;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 281px;
        .circle {
          &:active {
            transform: scale(0.97);
          }
          background: linear-gradient(#f79e0e, #eebd23);
          width: 88px;
          height: 88px;
          border-radius: 100%;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 42.5px;
            margin-bottom: 20px;
          }
        }
        h2 {
          margin-top: 20px;
          color: 616161;
          font-size: 24px;
          font-weight: 500;
        }
        div {
          color: #949494;
          font-size: 15px;
          margin-top: 12px;
        }
      }
    }
  }
}
#container6 {
  background-color: #fafbfd;
  text-align: center;
  display: flex;
  width: 100vw;
  justify-content: center;
  .content {
    width: 1075px;
    padding: 0px 50px;
    margin-top: 40px;
    h2 {
      color: #f79e0e;
      font-weight: 600;
      font-size: 15px;
    }
    h1 {
      color: #262a4e;
      font-size: 24px;
      margin-top: 1rem;
      margin-bottom: 30px;
    }
    .designs {
      .names {
        color: #c6c6c6;
        font-size: 15px;
        .web {
          font-weight: 700;
          background: linear-gradient(#f79e0e, #eebd23);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-right: 2rem;
        }
      }
      .lines {
        margin-top: 11px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        .line1 {
          height: 2px;
          width: 183px;
          background-color: #f79e0e;
        }
        span {
          height: 2px;
          width: 183px;

          background-color: #dbdbdb;
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        .m {
          margin: 0px 30px;
        }
        div {
          width: calc(70vw / 3);
          max-width: 305px;
          min-width: 100px;
          height: calc(70vw / 3);
          max-height: 305px;
          border-radius: 15px;
          border: 1px solid #c0c0c0;
          color: #262a4e;
          font-size: 15px;
          font-weight: 700;
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: center;
          margin-bottom: 30px;
        }
      }
    }
    margin-bottom: 20px;
  }
}
#container7 {
  text-align: center;
  display: flex;
  justify-content: center;
  .content {
    margin: 70px 0px;
    width: 940px;
    height: 492px;
    h1 {
      margin: 1rem 0px;
      font-size: 30px;
      font-weight: bold;
      color: #262626;
    }
    h2 {
      background: linear-gradient(#f79e0e, #eebd23);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 15px;
      font-weight: bold;
    }
    p {
      color: #979797;
      font-size: 15px;
      margin: 0px auto;
      width: 556px;
      margin-bottom: 85px;
    }
    .row {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      ul {
        list-style: none;
        li {
          width: 400px;
          h3 {
            font-size: 24px;
            font-weight: bold;
            color: rgb(230, 230, 230);
            margin-bottom: 15px;
          }
          span {
            color: #646464;
            font-size: 15px;
            font-weight: 400;
          }
          margin-bottom: 30px;
        }
      }
    }
  }
}
#container8 {
  text-align: center;
  width: 100%;
  background-color: #fafbfd;
  height: 293px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    h2 {
      font-weight: bold;
      font-size: 15px;
      background: linear-gradient(#f79e0e, #eebd23);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h1 {
      color: #262626;
      font-size: 30px;
      margin: 1rem;
    }
    p {
      width: 556px;
      color: #979797;
      font-size: 15px;
      margin-bottom: 30px;
    }
    div {
      height: 49px;
      border-radius: 6px;
      width: 615px;
      overflow: hidden;
      display: flex;
      input {
        border-radius: 6px 0px 0px 6px;
        width: 100%;
        font-weight: 500;
        outline: none;
        padding: 13px 10px 13px 25px;
        border: 1px solid #cecece;
        font-size: 15px;
        color: #979797;
      }
      button {
        cursor: pointer;
        &:active {
          transform: scale(0.95);
        }
        padding: 10px 46px;
        font-size: 20px;
        font-weight: bold;
        border: none;
        color: white;
        background: linear-gradient(#f79e0e, #eebd23);
      }
    }
  }
}
#container9 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 367.5px;
  position: relative;
  .bg {
    width: 100%;
    top: 0px;
    z-index: -1;
    left: 0px;
    position: absolute;
  }
  .content {
    color: white;
    display: flex;
    width: 868px;
    height: 190px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .first {
        list-style: none;
        width: 400px !important;
        margin-right: 7rem;
        li {
          h1 {
            color: #f79e0e;
            font-size: 27px;
            font-weight: bold;
          }
          p {
            width: 275px;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            font-size: 12px;
            color: #dadada;
          }
          .social-media-icons {
            width: 161px;
            justify-content: space-between;
            list-style: none;
            display: flex;
            .circle {
              width: 38px;
              height: 38px;
              border-radius: 100%;
              border: 1px solid #f79e0e;
              position: relative;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
      .a {
        display: flex;
        width: 100%;
        ul {
          width: 150px !important;
          .s {
            color: #f79e0e;
          }
          width: 200px;
          display: flex;
          flex-direction: column;
          list-style: none;
          h1 {
            font-size: 18px;
            font-weight: 500;
            color: #f79e0e;
            margin-bottom: 0.5rem;
            position: relative;
            &::after {
              position: absolute;
              bottom: -5px;
              content: "";
              height: 1px;
              background-color: #f79e0e;
              left: 0px;
              width: 3rem;
            }
            &::before {
              position: absolute;
              bottom: -5px;
              content: "";
              height: 1px;
              z-index: 10;
              background-color: #262a4e;
              left: 10px;
              width: 10px;
            }
          }
          li {
            margin: 6px 0px;
            font-size: 15px;
            font-weight: 400 !important;
          }
        }
      }
    }
  }
  .copyright {
    user-select: none;
    position: absolute;
    bottom: -5rem;
    color: rgba($color: #fff, $alpha: 0.5);
    text-align: center;
    font-size: 12px;
    span {
      cursor: pointer;
      transition-duration: 500ms;
      &:active {
        font-size: 15px;
      }
      color: #f79e0e;
    }
    .divide {
      position: relative;
      width: 100vw;
      background-color: rgba($color: #fff, $alpha: 0.1);
      height: 1px;
      margin-bottom: 1rem;
    }
  }
}
